### Video Outline:
1. Introduction to Operators
2. Arithmetic Operators
   - Addition
   - Subtraction
   - Multiplication
   - Division
   - Floor Division
   - Modulus
   - Exponentiation
3. Comparison Operators
   - Equal to
   - Not equal to
   - Greater than
   - Less than
   - Greater than or equal to 
   - Less than or equal to
4. Logical Operators
   - AND
   - OR
   - NOT
5. Practical Examples and Common Errors

In [1]:
## Arithmethic Operation

a=10
b = 5

add_result=a+b  #addiiton
sub_result=a-b  #substraction 
mult_result=a*b #multiplication
div_result=a/b  #division
floor_div_result=a//b ## floor division
modulus_result=a%b #modulus operation

exponent_result=a**b ## Exponentiation


print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [2]:
232+2309

2541

In [3]:
253-35

218

In [4]:
30*30

900

In [6]:
300/27

11.11111111111111

In [7]:
300//27

11

In [8]:
300/28

10.714285714285714

In [9]:
300//28

10

In [11]:
300%28

20

In [12]:
4**3

64

#### Comparison Operators

In [13]:
## Comparison Operators
## == Equal to
a=10
b=10

a==b

True

In [14]:
str1="Chandan"
str2="Chandan"

str1==str2

True

In [15]:
## Not Equal to !=
str1!=str2

False

In [16]:
str3="Chandan"
str4="CHANDAN"

str3!=str4

True

In [17]:
# greater than >

num1=45
num2=55

num1>num2

False

In [18]:
## less than <

print(num1<num2)

True

In [19]:
#greater than or equal to
number1=45
number2=45

print(number1>=number2)

True

In [20]:
#less than or equal to
number1=44
number2=45

print(number1<=number2)

True

#### Logical Operators

In [21]:
## And ,Not,OR
X=True
Y=True

result =X and Y
print(result)

True

In [22]:
## OR
X=False
Y=False

result =X or Y
print(result)

False

In [23]:
# Not operator
X=False
not X

True

In [24]:
## Simple Calculator

# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Addition: 501.0
Subtraction: 411.0
Multiplication: 20520.0
Division: 10.133333333333333
Floor Division: 10.0
Modulus: 6.0
Exponentiation: 4.502128846253769e+119